.toggle-theme {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 158px;
}

.toggle-theme__text {
  color: var(--secondary-text-color);
  font-size: 1.6rem;
  font-weight: 700;
  transition: 400ms;
  user-select: none;
}

.toggle-theme:hover .toggle-theme__text {
  color: var(--white-primary-text-color);
}

.container.light .toggle-theme:hover .toggle-theme__text {
  color: var(--dark-grayish-blue-secondary-text-color);
}

.toggle-theme__checkbox {
  display: none;
}

.toggle-theme__switcher {
  background: var(--switcher-color-dark);
  border-radius: 18px;
  cursor: pointer;
  height: 30px;
  position: relative;
  transition: 400ms;
  width: 64px;
}

.toggle-theme__checkbox:checked + .toggle-theme__switcher {
  background: var(--switcher-color-light);
}

.toggle-theme__checkbox + .toggle-theme__switcher:hover {
  background: var(--switcher-color-dark);
}

.toggle-theme__switcher::before {
  background: var(--top-bg-color);
  border-radius: 50%;
  content: '';
  height: 24px;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: 400ms;
  width: 24px;
}

.toggle-theme__checkbox:checked + .toggle-theme__switcher::before {
  transform: translateX(34px);
}

@media (max-width: 720px) {
  .toggle-theme {
    width: 100%;
  }

  .toggle-theme__text {
    font-size: 1.4rem;
  }
}
