.top-bar {
  background: var(--top-bg-color);
  height: 300px;
}

.top-bar__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 24px;
}

.top-bar__wrapper__content__title {
  color: var(--primary-text-color);
  font-size: 3.2rem;
  font-weight: 700;
}

.top-bar__wrapper__content__total-followers {
  color: var(--secondary-text-color);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4px;
}

@media (max-width: 720px) {
  .top-bar__wrapper {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .top-bar__wrapper__content {
    border-bottom: 1px groove var(--secondary-text-color);
    padding-bottom: 16px;
    margin-bottom: 16px;
    width: 100%;
  }

  .top-bar__wrapper__content__title {
    font-size: 2.4rem;
  }

  .top-bar__wrapper__content__total-followers {
    font-size: 1.4rem;
  }
}
