.dashboard-content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 24px;
  transform: translateY(-140px);
}

.dashboard-content__profiles {
  align-items: center;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.dashboard-content__overview {
  margin-top: 64px;
}

.dashboard-content__overview__title {
  color: var(--primary-text-color);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.container.light .dashboard-content__overview__title {
  color: var(--secondary-text-color);
}

.dashboard-content__overview__cards {
  align-items: center;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

@media (max-width: 1100px) {
  .dashboard-content__profiles,
  .dashboard-content__overview__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .dashboard-content {
    transform: translateY(-100px);
  }

  .dashboard-content__profiles,
  .dashboard-content__overview__cards {
    grid-template-columns: 1fr;
  }
}
